@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

header {
  background-image: url('/assets/heroimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}